.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff7f4;
}

.hero-img {
  max-width: 100%;
  /* height:  225px; */
  margin: 0 auto;
  margin-bottom: 50px;
}


.agency-title {
  font-weight: 600;
  font-size: 31.25px;
  line-height: 123.6%;
  text-align: center;
}
.agency-description {
  text-align: center;
  margin-top: 18px;
  margin-bottom: 25px;
  color: rgba(123, 123, 123, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
}

.contact-us-button {
  margin: 0 auto;
}
