.about-us-element {
  box-shadow: 0px 1px 10px rgb(0 0 0 / 10%);
  padding-top: 25px;
  padding-left: 27px;
  padding-right: 17px;
  display: flex;
  flex-direction: column;
  padding-bottom: 21px;
  align-items: center;
}
.about-us-element__icon {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 37px;

  box-shadow: 4px 5px 15px;
}
